body {
  background: url("./paper.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-color: aquamarine; */
}

h1 {
  font-family: fantasy;
  text-align: center;
  padding: 20px;
  color: coral;
  font-size: 60px;
  font-style: italic;
  padding-top: 190px;
}

form,
p {
  text-align: center;
  padding: 20px;
}

input {
  text-align: center;
  font-size: 25px;
  max-width: 111px;
  margin-left: 20px;
}

p,
form {
  font-family: fantasy;
  font-size: 28px;
}
